$bgcolor: #F0DFD0;
$transparent: rgba(255, 255, 255, 0);
$color-1: #C7C5A7;
$color-2: #8BA88F;
$size: 3em;
$big-size: $size*2;
$min: $size*.3;
$max: $size*.5;
html {
	height: 100%;
}

body {
	background : linear-gradient(68deg, $color-1 $min, $transparent $min*1.1) $size -#{$size},
	linear-gradient(-68deg, $color-1 $min, $transparent $min*1.1) -#{$size} -#{$size},
	radial-gradient(circle, $color-1 $min, $transparent $min*1.1) 0 0,
	linear-gradient(68deg, $color-2 $min, $transparent $min*1.1) 0 0,
	linear-gradient(-68deg, $color-2 $min, $transparent $min*1.1) 0 0,
	radial-gradient(circle, $color-2 $min, $transparent $min*1.1) $size $size !important;
	background-size: $big-size $big-size !important;
	background-color: $bgcolor !important;
	background-repeat: repeat !important;
	font: 14px/2 'Trebuchet MS', Verdana, sans-serif;
}